instances:
  - name: gpu0_tinyllama
    model: tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf
    host: 127.0.0.1
    port: 8002
    cuda_visible_devices: "0"
    n_ctx: 8192
    n_gpu_layers: -1
    chat_format: ""

  - name: gpu1_gptoss
    model: openai_gpt-oss-20b-Q4_K_M.gguf
    host: 127.0.0.1
    port: 8003
    cuda_visible_devices: "1"
    n_ctx: 8192
    n_gpu_layers: -1
    chat_format: ""
